body{
    background-color: #dcded5;
}

.center{
    position: center;
    size: 45px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#dcded5;
}
.navbar{
  overflow: hidden;
  position: fixed;
  top:0;
  width:100;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

li a:hover {
    background-color: whitesmoke;
}

h2{
    font-family: "Playfair Display";
    font-size: 25px;
    font-style: bold;
    font-variant: normal;
    font-weight:550;
    line-height: 28px;
}

h3{
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: bold;
    font-variant: normal;
    font-weight:530;
    line-height: 28px;
}
.href{
    position: center;
=======
body{
    background-color: #dcded5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#dcded5;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
}

h2{
    font-family: "Playfair Display";
    font-size: 25px;
    font-style: bold;
    font-variant: normal;
    font-weight:550;
    line-height: 28px;
}

h3{
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: bold;
    font-variant: normal;
    font-weight:530;
    line-height: 28px;
}
.href{
    position: center;
>>>>>>> f84a11fa48375a8e20af29daa1ec0438904db432
}
