body{
  background-color: #e6ffee
}
 p{
   font:12px arial;
   color: #222;
   text-align:center;
   padding:35px;
}
form, p, span {
   margin:0;
   padding:0;
}
input { font:12px arial;
}
a{
   color:#0000FF;
   text-decoration:none;
}
a:hover { text-decoration:underline;
}


li {
   float: left;
}

li a {
   display: block;
   color: grey;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover{
   background-color: whitesmoke;
}

.navbar{
  background-color:#7ad9de;
  overflow: hidden;
  position: center;
  position: fixed;
  top:0;
  width:99%;
  float: left;
  padding: 0;
}

.center {
   position: fixed;
   height:50%;
   width:50%;
}