body{
    background-color: #e6ffee;
}

h1{
  font-family: "Playfair Display";
  font-size: 35px;
  font-variant: normal;
  font-weight: 700;
  line-height: 20px;

}

h2{
  font-family: "Playfair Display";
  font-size: 25px;
  font-variant: normal;
  font-weight: 600;
  line-height: 24px;
}

h3{
  font-family: "Playfair Display";
  font-size: 25px;
  font-variant: normal;
  font-weight: 600;
  line-height: 24px;
}

.homeo{
  font-family: "Playfair Display";
  font-size: 18px;
  font-variant: normal;
  font-weight: 400;
  line-height: 16px;
}

.seek{
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#7ad9de;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
}

/* .active {

    background-color: whitesmoke;

} */
/* =======
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#7ad9de;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float:left;
}

li a:hover {
    background-color: whitesmoke;


}
/* .active {
    background-color: whitesmoke;
} */
.navbar{
  overflow: hidden;
  position: fixed;
  top:0;
  width:100;
}
>>>>>>> 0169544f34c04704a398be70f8a376e4896cffea */
